@model web2.Models.User

@{
	ViewBag.Title = "About Us";
}

<style>
	.user-image-container {
		height: unset;
		display:block;
	}

	.parent-container {
		display: flex;
		flex-direction: column;
	}
</style>

<h2>@ViewBag.Title</h2>

<p>Thanks for using our website. The contact information for the architect of this website is below. Have a wonderful day!</p>


<div class="parent-container">
	<div class="user-image-container">
		<img src="~/Content/me.jpg" />
		<p>@Model.FirstName @Model.LastName</p>
		<a href="mailto:@Model.Email">@Model.Email</a>
	</div>

	<div>

		@using (Html.BeginForm(FormMethod.Post)) {

			<div>
				<button id="btnSubmit" name="btnSubmit" value="more" class="button-action"><i class="far fa-info-circle"></i>More</button>
				<button id="btnSubmit" name="btnSubmit" value="close" class="button-cancel"><i class="fa fa-times"></i>Close</button>
			</div>
		}
	</div>
</div>

<script>
	$(document).ready(function () {
		SetActiveMenus('aboutus');
	});
</script>